<head>
    <% include ../partials/head %>
    <!-- additonal cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        .bgcolor{
          background:#A62639;
        }
        .container{
          margin-top: 30px;
        }
        a:link {
            color: black;
        }
        a:visited {
            color: black;
        }
        a:hover {
            color: black;
            text-decoration:none;
        }
        a:active {
            color: black;
        }
    </style>
<head>

<body onload="calTotal()">
  <!-- ==================================================================================================================== -->
  <div class="album py-5 bgcolor">
        <center><a href="../"><img src="/public/marathon-logobgred.png" alt="" class="Marathon-logo" width="300px"></a></center>
  </div>
  <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
    <div class="container">
        <div class="col-md-8" style="float:left">
                <table class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Sub Total</th>
                            <th> </th>
                        </tr>
                    </thead>
<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
                                                EJS cartlist[i]
                                                [0] = product_id
                                                [1] = product_size
                                                [2] = Qty
                                                [3] = ID
                                                [4] = product_name
                                                [5] = Price
                                                [6] = discount ( n% off )
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  -->

                    <tbody>
                        <% for(var i=0; i<cartlist.length; i++) { %>

                        <tr id="tr<%= cartlist[i][3]%>">
                            <td class="product_name"><a href="/product/<%= cartlist[i][0]%>" target="_blank"><%= cartlist[i][4]%></a></td>
                            <td>
                             <select onchange="editSizeCart(<%=cartlist[i][3]%>,this.value)">
                               <% for(var s=0; s<size.length; s++) { %>
                                 <% if (cartlist[i][0] == size[s][0]) { %>
                                   <% if(cartlist[i][1] == size[s][2]) { %>
                                      <option value="<%= size[s][2]%>" selected><%= size[s][1]%></option>
                                   <% } else { %>
                                     <option value="<%= size[s][2]%>"><%= size[s][1]%></option>
                                   <% } %>
                                 <% } %>
                               <% } %>
                                      </select>
                                      <script type="text/javascript">
                                        function sizeSelect(id,size){
                                          document.getElementById(`size${id}`).value = size;
                                        }
                                      </script>
                            </td>
                            <td><input min="0" onblur="editQtyCart(<%= cartlist[i][3]%>,this.value,)" oninput="datareflash(<%= cartlist[i][3]%>,<%= cartlist[i][5]%>,this.value,<%= cartlist[i][6]%>)" type="number" value="<%= cartlist[i][2]%>" style="width:50px" id="input<%= cartlist[i][3]%>"></td>
                            <td>$<%= cartlist[i][5]%></td>
                            <% if(cartlist[i][6] != 0) { %>
                              <td><%= cartlist[i][6]%>%</td>
                            <% } else { %>
                              <td>No</td>
                            <% } %>
                            <td><span id="total<%= cartlist[i][3]%>" class="subTotal">$<%= Math.round(cartlist[i][2]*cartlist[i][5]*(1-cartlist[i][6]/100)*10)/10%></span></td>
                            <td> <button type="button" class="btn btn-danger" onclick="delFromCart(<%= cartlist[i][3]%>,<%= cartlist[i][3]%>)"><i class="far fa-trash-alt"></i></button> </td>
                        </tr>
                        <% } %>
                    </tbody>
                    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
                    <script type="text/javascript">
                    function editSizeCart(id,size){
                      $.ajax({
                          url:'/edit-size-cart',
                          type:'post',
                          data: {id:id,size:size},
                          success:function(result){
                              console.log(result['success']);
                          },error:function(err){
                              console.log(err);
                          }
                      });
                    }
                    function delFromCart(id){
                      document.getElementById(`tr${id}`).style.display = "none";
                      document.getElementById(`input${id}`).value  = "0";
                      document.getElementById(`total${id}`).innerHTML = "$0";
                      var subTotalelement = document.getElementsByClassName("subTotal");
                      calTotal();
                        $.ajax({
                            url:'/del-from-cart',
                            type:'post',
                            data: {id:id},
                            success:function(result){
                                console.log(result['success']);
                            },error:function(err){
                                console.log(err);
                            }
                        });
                    }
                      function editQtyCart(id,input){
                        if (input<0){
                          document.getElementById("input"+id).value  = `0`;
                          document.getElementById("total"+id).innerHTML = "$0";
                          calTotal();
                        }
                        else{
                          $.ajax({
                              url:'/edit-qty-cart',
                              type:'post',
                              data: {id:id,qty:input},
                              success:function(result){
                                  console.log(result['success']);
                              },error:function(err){
                                  console.log(err);
                              }
                          });
                        }
                      }
                      function datareflash(id,price,qty,discount){
                        document.getElementById(`total${id}`).innerHTML = `$${Math.round(price*qty*(1-discount/100)*10)/10}`;
                        calTotal();
                      };

                      function calTotal(){
                        var subTotal = document.getElementsByClassName("subTotal");
                        var netPurchaseAmount = 0;
                        for(var i=0;i<subTotal.length;i++){
                          netPurchaseAmount = netPurchaseAmount + Number(subTotal[i].textContent.substr(1));
                        }
                        if (netPurchaseAmount==0){
                          document.getElementById(`checkoutbth`).disabled = true;
                        }else{
                          document.getElementById(`checkoutbth`).disabled = false;
                        }
                        if (netPurchaseAmount>500){
                          document.getElementById(`deliveryfee`).innerHTML = `$0`;
                        }else{
                          document.getElementById(`deliveryfee`).innerHTML = `$300`;
                        }
                        document.getElementById(`netPurchaseAmount`).innerHTML = `$${netPurchaseAmount}`;
                        document.getElementById(`totalHKD`).innerHTML = `$${Number(document.getElementById(`netPurchaseAmount`).textContent.substr(1))+Number(document.getElementById(`deliveryfee`).textContent.substr(1))}`;
                      }

                    </script>
                      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
                      <tfoot>
                        <% if(cartlist.length == 0) { %>
                        <td colspan="6">Your shopping cart is empty</td>
                        <% } else { %>
                        <td colspan="6"><span id="tableinfo">This is the end of your cart list.</span></td>
                        <% } %>
                      </tfoor>
                        <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
                </table>
        </div>
<!-- ==================================================================================================================== -->
    <div class="card col-md-4" >
      <br><h4><b>Order Total</b></h4><hr>
      <div class="card-body">
        <table style="width:100%">
          <tr>
              <td>Net Purchase Amount</td>
              <td id="netPurchaseAmount"></td>
          </tr>
          <tr>
              <td>Delivery fee</td>
              <td id="deliveryfee"></td>
          </tr>
        </table><hr>
        <div style="width:100%;float:left;">
          <h3 style="display:inline">HKD</h3>
          <h3 style="float:right" id="totalHKD"></h3>
        </div><br><br>
    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
        <center>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../'"><i class="fas fa-shopping-cart"></i> Contiue Shopping</button>
          <button type="button" class="btn btn-success" onclick="window.location.href='../createbill'" id="checkoutbth">Checkout <i class="fas fa-caret-right"></i></button>
        </center>
    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
      </div>
      <small>
           <ul>
             <li>Unconditional Returns/ Exchange Service has been updated to 10 days.</li><br>
             <li>Purchase with more than $500, the Delivery fee will be free in charge.</li><br>
             <li>Net Purchase Amount reflects the total price of your order after discounts but It does not include delivery cost.</li><br>
             <li>Shipping costs vary depending on the type of delivery. Please check the final amount in the order summary.</li>
          </ul>
      </small>
    </div>
  </div>
</body>

  <!-- ==================================================================================================================== -->
<script>

  $(document).ready(function() {
    // script relavant to datatable
    $('table.display').DataTable({
        "ordering": false,
        'columnDefs': [
            {
                "targets": 0, // your case first column
                //
            },
            {
                "targets": 1,
                "className": "text-center",
            },
            {
                "targets": 2,
                "className": "text-center",
            },
            {
                "targets": 3,
                "className": "text-center",
            },
            {
                "targets": 4,
                "className": "text-center",
            },
            {
                "targets": 5,
                "className": "text-center",
            },
            {
                "targets": 6,
                "className": "text-center",
            }
        ],
        'searching': false,
        'paging': false,
        'info': false,
        'responsive': true,
        "scrollX": true,
    });
  } );
</script>
