<head>
    <% include ../partials/head %>
    <!-- additonal cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
      .bgcolor{
        background:#A62639;
      }
        .dataTables_length{
            display: none;
        }
        mark {
          background: orange;
          color: black;
        }
        /* .f-style {
            position: fixed;
            bottom: 0px;
            width: 100%;
            z-index: 100;
        } */
    </style>
<head>

<body>
  <!-- ==================================================================================================================== -->
  <div class="album py-5 bgcolor">
        <center><a href="../"><img src="/public/marathon-logobgred.png" alt="" class="Marathon-logo" width="300px"></a></center>
  </div>
  <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   -->
    <div class="container">
        <div style="height:120px; width:100%;"></div>
        <div class="card">
            <!-- <div>
                <nav aria-label="breadcrumb" class="float-right" style="font-size:12px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Stock</li>
                    </ol>
                </nav>
            </div> -->
            <div class="card-body">

                <table id="" class="display q-table" style="width:100%">
                    <thead>
                        <tr>
                            <th> Product Name </th>
                            <th> Branches Details </th>
                            <th> Size </th>
                            <th> Stock </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<data.length; i++){ %>
                        <tr>
                            <td> <%= data[i][0] %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#data<%= i %>"><i class="far fa-address-card"></i> <%= data[i][1] %></button>
                                <!-- <div id="demo" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div> -->
                                <div id="data<%= i %>" class="panel-collapse collapse">
                                    <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><b>Address: </b><%= data[i][4] %><br><hr>
                                                <b>Tel: </b><%= data[i][2] %><br><hr><b>Business Hour: </b><%= data[i][3] %></p>
                                            </li>
                                    </ul>
                                    <!-- <div class="panel-footer">Footer</div> -->
                                </div>
                            </td>
                            <td> <%= data[i][5] %></td>
                            <td> <%= data[i][6] %></td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 24px; width:100%;"></div>

    <footer>
        <!-- footer -->
        <% include ../partials/footer %>
    </footer>

    <script>
        $(document).ready(function() {
            // script relavant to datatable
            $('table.display').DataTable({
                "ordering": false,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-left",
                        // "width": "4%"
                    },
                    {
                        "targets": 1, // your case first column
                        // "width": "2%",
                        "className": "text-left",

                    },
                    {
                        "targets": 2,
                        "className": "text-left",
                    },
                    // {
                    //     "targets": 3,
                    //     "className": "text-center",
                    // }
                ],
                // 'searching': false,
                // 'paging': false,
                // 'info': true,
                'responsive': true,
                "scrollX": true,
                // 'searchHighlight': true,
                mark: true,
            });
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });

        } );

        // var prevScrollpos = window.pageYOffset;
        // window.onscroll = function hide_navbar() {
        //     var currentScrollPos = window.pageYOffset;
        //     if (prevScrollpos < currentScrollPos) {
        //         document.getElementById("navbar").style.top = "0px";
        //     } else {
        //         document.getElementById("navbar").style.top = "0x";
        //     }
        //     prevScrollpos = currentScrollPos;
        // }

    </script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
    <link href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
    <link href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">
</body>
